<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastrar Ocorrencias</title>
    </head>
    
    <body>
        {% extends "model-page.html" %}
        {% load crispy_forms_tags %}
        {% block content %}
            
            <h1>Cadastrar Nova Ocorrencia</h1>
            <form method="post" action=".">
                {% csrf_token %}
                <div class="mb-3">
                    {{form|crispy}}
                </div>
                
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                
                <a href="{% url 'at:ocorrencia_list' %}">
                    <button type="button" class="btn btn-secondary">Cancelar</button>
                </a>
                
            </form>
        
        {% endblock %}
    </body>
</html>